adt.py~=0.0.9
algebraic-data-types~=0.2
certifi~=2020.6.20
chardet~=3.0.4
cycler~=0.10.0
decorator~=4.4.2
idna~=2.10
imageio~=2.8.0
kiwisolver~=1.2.0
matplotlib~=3.2.1
mpmath~=1.1.0
networkx~=2.4
numpy~=1.24.2
packaging~=20.4
parse~=1.15.0
Pillow~=7.1.1
Pint~=0.13
psycopg2~=2.8.5
pyparsing~=2.4.7
python-dateutil~=2.8.1
requests~=2.24.0
scikit-image~=0.16.2
scipy~=1.10.1
six~=1.14.0
sympy~=1.7
toolz~=0.10.0
urllib3~=1.25.9
pandas~=1.5.3

