adt.py==0.0.9
algebraic-data-types==0.2.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.10
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.2
mpmath==1.1.0
networkx==2.8.8
packaging==20.9
pandas==1.5.3
parse==1.15.0
Pillow==7.1.2
Pint==0.20.1
psycopg2==2.8.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.1.1
requests==2.24.0
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
sympy==1.11.1
toolz==0.10.0
urllib3==1.25.11